* {
  font-family: "Sarabun", sans-serif;
}
.srb {
  font-family: "Sarabun", sans-serif;
}

.kn {
  font-family: "Kanit", sans-serif;
}

.bg-127740 {
  background-color: #127740 !important;
}
.bg-e1e1e1 {
  background-color: #e1e1e1 !important;
}
.bg-ececec {
  background-color: #ececec !important;
}
.c-f05a23 {
  color: #f05a23;
}
.c-000000{
  color: #000000;
}
.div-before-lang {
  min-height: 25px;
}
.ul-nav {
  list-style: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}
.ul-nav .list-nav .a-list-nav-home {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.icon-home-nav {
  width: 100%;
  width: 30px;
}
.ul-nav .list-nav .a-list-nav {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid #000000;
}
.ul-nav .list-nav .a-list-nav.active,
.ul-nav .list-nav .a-list-nav:hover,
.ul-nav .list-nav .a-list-login:hover {
  color: #f1602b;
}
.ul-nav .list-nav:last-of-type .a-list-nav {
  border-right: none;
}

.ul-nav .list-nav .a-list-login {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #ffffff;
}
.side_left_nav {
  background-image: url("../images/side_left_nav.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.15rem;
}
.side_right_nav {
  background-image: url("../images/side_right_nav.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.15rem;
  display: flex;
}
.bg-head {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}
.bg-head-index {
  background-image: url("../images/header_index.png");
}
.img-logo {
  width: 420px;
  margin-top: 2rem;
}
.main-nav {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.main-nav .list-main-nav {
  max-width: 14.28%;
  width: 100%;
  text-align: center;
}
.main-nav .list-main-nav .list-link-main-nav {
  color: #000000;
  font-size: 18px;
  text-align: center;
}
.main-nav .list-main-nav .list-link-main-nav .img-main-nav {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 0.25rem;
  border-radius: 50%;
}
.main-nav .list-main-nav .list-link-main-nav p {
  margin-bottom: 0;
}
.main-nav .list-main-nav .list-link-main-nav:hover .img-main-nav {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 100px 10px rgba(109, 200, 152, 1);
  -moz-box-shadow: 0px 0px 100px 10px rgba(109, 200, 152, 1);
  box-shadow: 0px 0px 100px 10px rgba(109, 200, 152, 1);
}
.main-nav .list-main-nav .list-link-main-nav:hover p {
  color: #127740;
  font-weight: 600;
  font-size: 18px;
}
#carousel-1 .carousel-control-next {
  top: auto;
  width: 30px;
  height: 30px;
  right: 0;
  background-color: #127740;
  opacity: 1;
}
#carousel-1 .carousel-control-prev {
  top: auto;
  width: 30px;
  height: 30px;
  background-color: #fe6e2f;
  right: 30px;
  left: auto;
  opacity: 1;
}
.block-search {
  border-width: 3px;
  border-color: #000000;
  border-style: double;
  background-image: url("../images/bg-block-search.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.title-search {
  font-family: "Kanit";
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid #000000;
  max-width: 230px;
  margin: 0 auto;
}
.title-search-eng {
  font-family: "Kanit";
  font-size: 16px;
  font-weight: 400;
  color: #127740;
}

.input-search {
  width: 430px;
  margin-left: auto;
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
}
.bg-footer-search {
  background-image: url("../images/bg_footer_search.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.book-search{
  position: absolute;
  bottom: 0;
  width: 220px;
  left: 0;
}
.div-footer-search {
  width: 69%;
  margin-left: auto;
}
.sl-search-type {
  width: 150px;
}
.sl-search-fac {
  width: 165px;
}
.btn-search {
  -moz-box-shadow: inset 2px 2px 3px 1px #127740;
  -webkit-box-shadow: inset 2px 2px 3px 1px #127740;
  box-shadow: inset 2px 2px 3px 1px #4ba071;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #127740),
    color-stop(1, #127740)
  );
  background: -moz-linear-gradient(top, #127740 5%, #127740 100%);
  background: -webkit-linear-gradient(top, #127740 5%, #127740 100%);
  background: -o-linear-gradient(top, #127740 5%, #127740 100%);
  background: -ms-linear-gradient(top, #127740 5%, #127740 100%);
  background: linear-gradient(to bottom, #127740 5%, #127740 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#127740', endColorstr='#127740',GradientType=0);
  background-color: #127740;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #127740;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 2px 1rem;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}
.btn-search:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #127740),
    color-stop(1, #127740)
  );
  background: -moz-linear-gradient(top, #127740 5%, #127740 100%);
  background: -webkit-linear-gradient(top, #127740 5%, #127740 100%);
  background: -o-linear-gradient(top, #127740 5%, #127740 100%);
  background: -ms-linear-gradient(top, #127740 5%, #127740 100%);
  background: linear-gradient(to bottom, #127740 5%, #127740 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#127740', endColorstr='#127740',GradientType=0);
  background-color: #127740;
  color: #ffffff;
}
.link-search, .link-search:hover{
  color: #000000;
  font-weight: 400;
}