.text-address,
.text-sub-footer-banner-list {
  font-size: 12px;
}
.see-all-logo,
.text-footer-banner-list span {
  font-size: 14px;
}
.title-search-eng,
.text-num-footer-banner-list {
  font-size: 16px;
}
.text-exhibition,
.main-nav .list-main-nav .list-link-main-nav,
.title-card2-sup2,
.footer-card-text-left,
.footer-card-btn-right,
.text-footer-banner-list {
  font-size: 18px;
}

.title-search,
.btn-search,
.text-application {
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-sub-footer-banner-list {
    font-size: 18px;
  }
  .text-footer-banner-list span {
    font-size: 20px;
  }
  .text-num-footer-banner-list {
    font-size: 24px;
  }
  .text-footer-banner-list {
    font-size: 28px;
  }
}
