.text-address {
  font-size: 10px;
}
.see-all-logo {
  font-size: 12px;
}
.title-search-eng {
  font-size: 14px;
}
.text-exhibition,
.main-nav .list-main-nav .list-link-main-nav,
.title-card2-sup2,.footer-card-text-left ,.footer-card-btn-right {
  font-size: 16px;
}

.title-search,
.btn-search,
.text-application {
  font-size: 22px;
}