.ul-nav .list-nav a{
  font-size: 18px;
}

.text-address,
.text-sub-footer-banner-list {
  font-size: 14px;
}
.see-all-logo,
.text-footer-banner-list span {
  font-size: 16px;
}
.title-search-eng{
  font-size: 14px;
}

.text-num-footer-banner-list, p {
  font-size: 18px;
}
.text-exhibition{
  font-size: 24px;
}
.main-nav .list-main-nav .list-link-main-nav,
.title-card2-sup2,
.footer-card-text-left,
.footer-card-btn-right,
.text-footer-banner-list {
  font-size: 20px;
}
.btn-search{
  font-size: 20px;
}
.title-search,
.text-application {
  font-size: 26px;
}
.text-title-page{
  font-size: 31px;
}
.text-subtitle-page{
  font-size: 18px;
}
.card-side-menu .card-header .btn, .ul-side-menu li a{
  font-size: 18px;
}
.p-side-qr{
  font-size: 16px;
}
.p-title-card-book{
  font-size: 26px;
}
.p-detail-card-book{
  font-size: 20px;
}
.p-date-card-book{
  font-size: 16px;
}
.p-detail-title{
  font-size: 26px;
}
.p-detail-subtitle{
  font-size: 22px;
}
.p-detail-book{
  font-size: 20px;
}
.p-detail-second{
  font-size: 18px;
}
.btn-detail-book{
  font-size: 18px;
}
.p-title-card-book.related {
  font-size: 22px;
}
.p-detail-card-book.related {
  font-size: 16px;
}
.p-date-card-book.related {
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-sub-footer-banner-list {
    font-size: 16px;
  }
  .text-footer-banner-list span {
    font-size: 18px;
  }
  .text-num-footer-banner-list {
    font-size: 22px;
  }
  .text-footer-banner-list {
    font-size: 26px;
  }
}
