.text-address,
.text-sub-footer-banner-list {
  font-size: 10px;
}
.see-all-logo,
.text-footer-banner-list span {
  font-size: 12px;
}
.title-search-eng {
  font-size: 14px;
}
.text-exhibition,
.main-nav .list-main-nav .list-link-main-nav,
.title-card2-sup2,
.footer-card-text-left,
.footer-card-btn-right,
.text-footer-banner-list {
  font-size: 16px;
}

.title-search,
.btn-search,
.text-application {
  font-size: 22px;
}
